.setting{
    height: 100vh;
}

.setting-container{


}
.edit-title{
    margin-left: 5.5rem;
}
.edit{
    margin-left: 5.5rem;
    width: 7rem;
    height: 3rem;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit:hover{
    background-color:var(--first-color) !important;
}