.admin-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.admin-nav{
    height: calc(var(--header-height)+1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.admin-nav-logo,
.admin-nav-toggle{
    color:var(--first-color);
    font-weight: var(--font-medium);
}

.admin-nav-list{
    display: flex;
    column-gap: 2rem;
}

.admin-nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:var(--small-font-size);
    font-weight: var(--font-medium);
    transition: .3s;
    padding:  0 .5rem  ;
}

.admin-nav-icon,
.admin-nav-close,
.admin-nav-toggle{
    display: none;
}

.admin-active-link,
.admin-nav-link:hover{
    color: var(--first-color) !important;
}

.admin-scroll-header{
    box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
}

@media screen and (max-width:992px){
    .admin-header{
        top:initial;
        bottom: 0;
    }
    .admin-nav{
        height: var(--header-height);
    }
    .admin-nav-menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
    .admin-show-menu{
        bottom: 0;
    }
    .admin-nav-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:2rem;
    }
    .admin-nav-icon{
        font-size: 1.2rem;
    }
    .admin-nav-close{
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }
    .admin-nav-close:hover{
        color:var(---title-color-dark);
    }
    .admin-nav-toggle{
        font-size: 1.1rem;
        cursor:pointer;
        
    }
    .admin-nav-icon,
    .admin-nav-close,
    .admin-nav-toggle{
        display: block;
    }
}
@media screen and (max-width:768px){
    .admin-nav-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:350px){
    .admin-nav-menu{
        padding: 2rem 0,25rem 4rem;
    }
    .admin-nav-list{
        column-gap: 0;
    }
}