.home{
    height: 100vh;
}
.home-container{
    row-gap:7rem;
}
.home-content{
    grid-template-columns: 116px repeat(2,1fr);
    padding-top:5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home-social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home-social-icon{
    font-size: 1.25rem;
}
.home-social-icon:hover{
    color: var(--first-color) !important;
    transform: scale(1.25);
}

.home-title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}
.home-title span{
    color:var(--first-color)
}

.home-hand{
    width: 40px;
    height: 40px;
    margin-left: 0.4rem;
}

.home-description{
    max-width: 400px;
    margin-bottom:var(--mb-3);
}

.home-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 7px solid rgb(255 255 255/30%);
    order: 1;
    justify-self:center ;
    width: 300px;
    height: 300px;
    animation: profile-animate 8s ease-in-out infinite 1s;
}

@keyframes profile-animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@media screen and (max-width:992px) {
    .home-content{
        grid-template-columns: 100px repeat(2,1fr);
        column-gap: 1.25rem;
    }
    .home-hand{
        width: 25px;
        height: 25px;
    }
    .home-description{
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }
    .home-img{
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgb(255 255 255/30%);
    }
}

@media screen and (max-width:768px) {
    .home-content{
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }
    .home-img{
        order: initial;
        justify-self: initial;
    }
    .home-data{
        grid-column: 1/3;
    }
    .home-img{
        width: 200px;
        height: 200px;
        box-shadow: inset 0 0 0 6px rgb(255 255 255/30%);
    }
}

@media screen and (max-width:350px) {
    .home-hand{
        width: 21px;
        height: 21px;
    }
    .home-img{
        width: 180px;
        height: 180px;
    }
}
