.about-container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 4rem;
}

.about-img{
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
    animation: profile-about-animate 8s ease-in-out infinite 1s;
    border: 5px solid rgb(255 255 255/30%);
}

@keyframes profile-about-animate{
    0%{
        border-radius: 10% 20% 30% 40%/50% 60% 70% 80%;
    }

    50%{
        border-radius: 80% 70% 60% 50%/40% 30% 20% 10%;
    }

    100%{
        border-radius: 10% 20% 30% 40%/50% 60% 70% 80%;
    }
}

.about-info{
    grid-template-columns: repeat(2,180px);
    gap: 0.5rem;
    margin-bottom:var(--mb-2);
}

.about-box{
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about-icon{
    font-size: 1.5rem;
    margin-bottom: var(--mb-0-5);
}
.about-box:hover .about-icon{
    color: var(--first-color)  !important;
}

.about-title{
    font-size:var(--small-font-size);
    font-weight: var(--font-medium);
}

.section-title span{
    color:var(--first-color);
}

.about-subtitle{
    font-size: var(--tiny-font-size);

}

.about-description{
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}

@media screen and (max-width:992px){
    .about-container{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;     
    }
    .about-img{
        width: 220px;
    }
    .about-box{
        padding: 0.75rem 0.75rem;
    }
    .about-data{
        text-align: center;
    }
    .about-info{
        justify-content: center;
    }
    .about-description{
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:576px){
    .about-info{
        grid-template-columns:repeat(2,1fr);     
    }
    .about-description{
        padding: 0;
    }
}

@media screen and (max-width:350px){
    .about-info{
        grid-template-columns:repeat(2,1fr);     
    }
}