.skills-container{
    column-gap: 3rem;
    justify-content: center;
}

.skills-content{
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills-box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}
.skills-group{
    grid-template-columns: repeat(2,1fr);
    column-gap: 3rem;
    row-gap: 2rem;
}
.skills-data{
    display: flex;
    column-gap: 0.5rem;
}

.skills-data .bx-badge-check{
    font-size: 1rem;
    color: var(--title-color);
}
.skills-data:hover .bx-badge-check{
    font-size: 1rem;
    color: var(--first-color) !important;
}

.skills-name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills-level{
    font-size: var(--tiny-font-size);
}

@media screen and (max-width:992px){
    .skills-container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}
@media screen and (max-width:576px) {
    .skills-container{
        grid-template-columns: 1fr;
    }
    .skills-content{
        padding: 1.5rem;
    }
}
@media screen and (max-width:350px) {
    .skills-box{
        column-gap: 1.25rem;
    }
    .skills-name{
        font-size: var(--small-font-size);
    }
}